html {height:100%;}
body {
	font-family: arial, verdana, helvetica, sanf-serif;
	font-size: 15px;
	margin: 0px;
	height: 100%;
}

div#content {
	padding: 2px;
	margin: 0px;
}
	div#contentTop {
		background-image: url(content-back-top.png);
		background-repeat: no-repeat;
		width: 314px;
		height: 10px;
		padding: 0px;
		margin: 0px;
	}
	div#contentBottom {
		background-image: url(content-back-bottom.png);
		background-repeat: no-repeat;
		width: 314px;
		height: 10px;
		padding: 0px;
		margin: 0px;
	}
	div#contentMiddle {
		background-image: url(content-back.png);
		background-repeat: repeat;
		width: 313px;
		border: 1px solid black;
		border-top: 0px;
		border-bottom: 0px;
		padding: 0px;
		margin: 0px;
	}
	
a {
	color: red;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}